.social-icon {
    max-width: 4rem;
    max-height: 4rem;
}

.footer-container {
    background-color: #212529;
    padding-top: 2rem;
}

.footer-copyright {
    margin-top: 2rem;
    color: white;
}

.brand-text {
    font-size: 2rem;
    font-weight: 400;
}

.nav-item {
    font-size: 1.5rem;
}

/* gallery */
.bully-babe-card {
    width: 18rem;
    height: 32rem;
}

.bully-babe-card img {
    height: 75%;
}