.social-icon {
    max-width: 4rem;
    max-height: 4rem;
}

.footer-container {
    background-color: #212529;
    text-align: center;
    padding-top: 2rem;
}

.footer-copyright {
    margin-top: 2rem;
    color: white;
}

.brand-text {
    font-size: 2rem;
    font-weight: 400;
}